@charset "utf-8";

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#333;
}

.sec_abadacapoeira{
    width:80%;
    margin:0 auto;
}
/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .sec_abadacapoeira{
        width:100%;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.foto_mestrecamisa{
    width:80%;
}
/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .foto_mestrecamisa{
        width:100%;
    }
}
