@charset "utf-8";

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#333;
}


.what_capoeira{
    width:80%;
    margin:0 auto;
}
/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .what_capoeira{
        width:100%;
    }
}

.ans_capoeira_sentense{
    padding-bottom: 10px;
}

.foto_escravo{
    width:400px;
}

/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .foto_escravo{
        width:70%;
    }
}


