@charset "utf-8";

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* ヘッダ位置固定*/
    /*
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    */
}

.header_nav{
    display: flex;
    flex-direction: column;
}

.header_navList{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    margin-bottom: 0px;
    margin-top: 0pt;
}

.header_navItem{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0px;
}

.header_navItem > a{
    text-decoration: none;  /* リンクの下線を削除 */
    color:#333; /* リンク文字色のデフォルトが黒なので青に変更 */

    border-bottom: 2px solid transparent; 
    transition: border_color .25s;
}
.header_navItem > a:hover{
    border-bottom: 2px solid; /* マウスが当たったらボーダー(下線)を表示 */
}