@charset "utf-8";

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#333;
}

h1{
    text-align: center;
}

.class_description{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.class_description > a{
    /*
    display: block;
    background-color: blueviolet;
    */
    border-radius: 10%;
    text-decoration: none;
    color:#333
}

.class_description > a:hover{
    border-bottom: 2px solid;
}

.schedule_card{
    width: 70%;
    margin: 0 auto;
}

.schedule_list{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
/*
    justify-content:center;
*/
}

.schedule_item{
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
/*
    margin-left: 10px;
    margin-right: 10px;
*/
}

.schedule_item_info{
    margin-right: 10px;
}

.schedule_item_mon{
    font-size: 16pt;
    text-align: center;
    background-color: aquamarine;
}
.schedule_item_tue{
    font-size: 16pt;
    text-align: center;
    background-color:bisque;
}

.place_name, .class_time, .class_prof{
    font-size: 10pt;
}

.class_desc{
    font-size: 10pt;
    color: red;
}