@charset "utf-8";

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#333;
}

h1{
    text-align: center;
}

.contact{
    width: 800px;
    background-color: lightgray;
    margin-top: 5px;    margin-bottom: 5px;
    margin-left: auto; margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .contact{
            width: 95%;
    }
}

.contact_mail{font-size: 16pt;}
.contact_title, .contact_mail, .contact_tel, .contact_memo{
    text-align: center;
}


.class_description{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.class_description > a{
    /*
    display: block;
    background-color: blueviolet;
    */
    border-radius: 10%;
    text-decoration: none;
    color:#333
}

.class_description > a:hover{
    border-bottom: 2px solid;
}

.schedule_card{
    width: 70%;
    margin: 0 auto;
}
/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .class_description{
        width: 100%;
    }
    .schedule_card{
        width: 100%;
    }
}

.schedule_list{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
/*
    flex-wrap: wrap;
    justify-content:center;
*/
}

.schedule_item{
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-direction: column;
/*
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
*/
}

.schedule_item_info{
    margin-right: 10px;
}

.schedule_item_mon{
    font-size: 16pt;
    text-align: center;
    background-color:bisque;
/*
    background-color: aquamarine;
*/
}
.schedule_item_tue{
    font-size: 16pt;
    text-align: center;
    background-color:bisque;
}

.class_title{
    font-size: 14pt;
    margin-bottom: 5px;
}

.place_name, .class_time, .class_prof{
    font-size: 10pt;
    margin-bottom: 5px;
}

.class_desc{
    font-size: 10pt;
    color: red;
    margin-bottom: 5px;
}

.place_map{
    width:800px;
    height:400px;
}


/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
}
/* スマホ向け */
@media (max-width: 767px) {
    .place_map{
        width:100%;
        height:400px;
    }
}
