@charset "utf-8";

body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#333;
}

.Player {
    text-align: center;
}

.Player > iframe {
    width: 1120px;
    height:630px;    
}

/* 狭いブラウザとタブレット向け */
@media (max-width: 1020px) and (min-width: 768px) {
     .Player > iframe {
        width: 560px;
        height:310px;    
    }
}
/* スマホ向け */
@media (max-width: 767px) {
    .Player > iframe {
        width: 300px;
        height:150px;    
    }

}

/*
.top_image{
    display: flex;
    justify-content: center;
}
*/

.aisatsu{
    width:100%;
    text-align: center;
}


.contents_list{
    margin:0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contents_item{
    margin-left: 30px;
    margin-top: 30px;
/*
    background-color: blanchedalmond;
    border-radius: 10%;
    width:15%;
    height:50px;
    */
}

.card > a{
    display: block;
    color:#333;
    text-decoration: none;
    transition: background-color .25s;
}

.card > a:hover{
    background-color: #eee;
}
